body {
    font-family: 'Inter', sans-serif;
}

.serif {
    font-family: 'Instrument Serif', serif;
}

.number {
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.05em;
}

.text-gold {
    color: #c68346;
}

.lightbox {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lighbox-container * {
  max-width: 100%;
}